.wrapper{
    width: fit-content;
    font-size: 20px;
height: 45px;
padding: 0 20px;
margin: 10px 0;
text-decoration: none;
background-color: blue;
color: white;
border-radius: 10px;
border: none;
font-weight: bold;

& :hover{
    color: white;;

}
}
.red{
    background-color: red;
}


.full{
    width: 100%;
  border-radius: 50px;
}

.disabled{

    background-color: gray;
}
.golden{

    
    border: 1px solid #c49b63;
    background: transparent;
    color: #c49b63;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 0;
}

.golden:hover{

    border: 1px solid transparent;
    background: #c49b63;
    color: #fff;
}
.goldenfit{
    
    border: 2px solid #c49b63;
    background: transparent;
    color: #c49b63;
    height: 100%;
    border-radius: 0;
}