.wrapper{
width: 100%;
padding: 10px 0px 0 10px;
display: flex;
flex-direction: column;
height: 100%;





}

.content{

    width: 100%;
    overflow-y: scroll;
    border: 1px solid var(--mainColor);
    padding: 10px;


}
.action{

    width: 100%;
    height: 40px;
    margin: 5px 0px;
    display: flex;
    align-items: center;

}

.action__input{
width: 90%;
height: 90%;
outline: 2px solid #c49b63 ;
margin-right: 5px;
border: none;
padding-left: 20px;

}

.item{
width: 100%;
height: auto;
margin-bottom: 10px;

}
.item__user{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;


}

.item__img{

    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.item__content{
padding-left: 15px;
    width: 100%;

}

.item__user--info{
    display: flex;
   align-items: center;
    width: 50%;

}

.item__content--name{
font-size: 18px;
margin-left: 10px;
font-weight: 600;

}

.item__rate--star{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    padding-bottom: 12px;
margin-left: 10px;


}

.btn__cover{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    & span{
        margin-left: 20px ;
    
    }
    

}


.btn__cover--icon{
    margin-right:10px;
}
.item__content--text{
    margin-left: 50px;
    font-size: 20px;

font-weight: 400;}