@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script:wght@700&display=swap');

:root{
--textcolor:#565a61;
--hovercolor:#4d3bc6;

}
*{
    box-sizing: border-box;
   
}
.all{
    width: 100vw;
}