@import 'normalize.css';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script:wght@700&display=swap');

:root{
--textcolor:#565a61;
--hovercolor:#4d3bc6;
--headerSize:80px;
--mainColor:#c49b63;
--grayText:#a0a0a0;

}
*{
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
   
   
}
.all{
    width: 100vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba($color: #c49b63, $alpha: 0.5)
}
html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
