.wrapper {
width: 100%;
padding: 15px 20px ;
min-height: 100vh;

}




.dish__cover{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.dish{
width: 80%;
display: flex;
justify-content: center;
box-shadow: 3px 3px 3px var(--mainColor);


}

.action{

    width:100%;
padding: 0 20px;

}

.action__name{
    width: 100%;
    text-align: center;
    color: black;
    text-transform: capitalize

 
}

.slider__cover{
    width: 100% ;
    height: 50%;

}

.main__image--slick{
    width: 40px;
  height: 40px;
}
.small__image--slick{
    width: 90%;
aspect-ratio: 1/1;
}

.discount__info{
    margin-left: 10px;
    font-weight: 600;
    border-radius: 5px;

 
    & span{
        font-size: 16px;
        box-sizing: none;
        padding: 5px;
        color: white;
        text-transform: capitalize;
   

        background-color:rgb(222 4 0)
    }
    & .discount__info--name{
        color: black;
    }
}

.action__price{

    font-size: 22px;
    margin: 10 0;
    width: 100%;
    text-align: center;

    & input{
        border: none;
        outline: none;
    }
}

.action__icon{
font-size: 25px;
color: blue;
cursor: pointer;
margin-left: 100px;
}

.action__cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action__form{
    width: 100%;
}

.action__input{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;


    & input{
        width: 70%;
        margin-left: 10px;
        font-size: 20px;
        border: 1px solid #c49b63;
        background: transparent;
        color: black;
        text-align: center;
    }
}
.slider__cover{
    width: 100%;
  
}

.infomation{
    width: 100%;
    height: calc(100vh - 80px);
    box-shadow: 3px 3px 3px var(--mainColor);

    border: 1.5px solid  #c49b63 ;
}

.infomation__show{

    width: 100%;
    height: calc(100% - 40px);
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:1.5px solid  #c49b63 ;
    height: 40px;
   

}
.header__item{
width: 50%;
height: 100%;
text-align: center;
font-size: 18px;
font-weight: bold;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;



}

.description{
    padding: 16px;
    font-size: 18px;
}
.active{
    background-color: #c49b63;
    color: white;

}

