.wrapper {
width: 100%;
min-height: 100vh;


}

.slider__cover{
    width: 100%;
  }


.sidemap{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    
    & p{
        margin-bottom: 0;
        font-size: 16px;

    }
}

.dish__cover{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.dish{
width: 80%;
display: flex;
justify-content: center;
box-shadow: 3px 3px 3px var(--mainColor);


}

.action{

    width:100%;
padding: 0 30px;

}

.action__name{
    width: 100%;
    text-align: center;
    color: black;
    text-transform: capitalize;
    font-family: 'Spartan', sans-serif;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 25px;
   

 
}

.slider__cover{
    width: 100% ;
    height: 50%;

}


.small__image--slick{
    width: 90%;
aspect-ratio: 1/1;
}

.discount__info{
    margin-left: 10px;
    font-weight: 600;
    border-radius: 5px;

 
    & span{
        font-size: 16px;
        box-sizing: none;
        padding: 5px;
        color: white;
        text-transform: capitalize;
   

        background-color:rgb(222 4 0)
    }
    & .discount__info--name{
        color: black;
    }
}

.action__price{

    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin: 10 0;
    width: 100%;
 

    & input{
        border: none;
        outline: none;
    }
}

.action__rating{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;

    & h5{
        margin-top: 10px;
        margin-left: 10px;
    }

}


.action--quantity{
    display: flex;
align-items: center;
height: fit-content;
margin-top: 20px;


& .action--quantity__main{
    display: flex;
align-items: center;
border: 1px solid var(--mainColor);
height: 45px;
margin-right: 30px;

    & input{
        outline: none;
        border: none;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        width: 50px;
        background-color: transparent;
        
        
            }
        
            & h4{
                margin:0 15px;
                font-size: 18px;
            }
}
  
}
.quantity__icon{
font-size: 16px;
margin: 0 10px;
cursor: pointer;
color: black;
 
}

.noaction{
    color: gray;
}


.action__icon{
font-size: 25px;
color: blue;
cursor: pointer;
margin-left: 100px;
}



.action__form{
    width: 100%;
    margin-bottom: 30px;
}



.detail__animation{
    width: 50%;
    margin-right: 10px;
}





.description{

width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 10px;
border-top: 2px solid var(--grayText);
text-transform: capitalize;




& .description__icon{
    font-size: 25   px;
    color: var(--mainColor);
    cursor: pointer;

    &:hover{
        color: red;
    }
}

& span{
    font-size: 30px;
    color: var(--mainColor);
}
}

.description__text{
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 5px;

    & ul{
        list-style: none;
        
        & li{
font-size: 18px;
        }

        & li::before{
content:"•";
 font-size:40px; 
 position: relative;
right: 30px;
top:10px
        }
    }
    & h3{
        font-size: 30px;
        line-height: 40px;
        font-weight: 500;
        padding-bottom: 16px;
        margin-top: 16px;
        margin-bottom: 0;
    }

    
    


}


