
    .wrapper {
width: 100%;
height: var(--headerSize);
background: white;
display: flex;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
padding: 0 20px;
border-bottom: 1px gray solid;
position: fixed;
z-index: 999;



    }

   .left__location{
display: flex;
align-items: center;

   }
      