.wrapper{
width: 100%;
<<<<<<< HEAD
height: 70px;

    margin:15px 0;
   
}
.input__cover{
display: flex;
width: 100%;
height: 65%;
justify-content: center;
align-items: center;

}
.input__icon{
    font-size: 18px;
    cursor: pointer;
}
=======

    height: auto;
    margin-top: 20px;
   
}
>>>>>>> ee562d5e98d6239e75a460f99ba4953d72b76656




.form__input{

    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
<<<<<<< HEAD
    width: 90%;
=======
    width: 100%;
>>>>>>> ee562d5e98d6239e75a460f99ba4953d72b76656
    max-width: 100%;
    vertical-align: bottom;
    font-size: 20px;
    line-height: 38px;
    margin-top: 10px;
    
}
.status__show{
<<<<<<< HEAD
    border-top: 3px solid gray;
    height: 35%;
}

.notice{
margin: 5px 0;
color: red;
font-weight: bold;

}
.error{
    border-top: 3px solid red;
 

}
.success{
    border-top: 3px solid green;
=======
    border-top: 2px solid gray;
    margin-bottom: 20px;
}
.error{
    border-top: 2px solid red;
    color: red;

}
.success{
    border-top: 2px solid green;
>>>>>>> ee562d5e98d6239e75a460f99ba4953d72b76656
    color: green;
  
}

