.wrapper{
width: 100%;
min-height: calc(100vh - 60px);
padding-right: 10px;



& th{

    text-align: center;
    border-bottom: 2px solid var(--mainColor); 
    height: 40px;
}

& td{
    text-align: center;
}

}

.header{

    width: 100%;
    background-color: rgba($color: #289ae7, $alpha: 0.8);
    height: 40px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__add{
    font-size: 16px;
    font-weight: normal;
}
.header__icon{
font-size: 16px; margin-right: 5px;

}


.hidden__modal{
width: 65%;
height: 100vh;
background-color:rgba($color: #000000, $alpha: 0.4);
position: absolute;

}


.hidden__notice{

    width: 400px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    left: 30%;
    bottom: 40vh;
    padding: 20px 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    & p{
        margin-bottom: 0;
    }
    
}


.hidden__notice--text{
font-size: 22px;
font-weight: bold;
text-align: center;
color: var(--mainColor);
}


.table__cover{

    width: 100%;
    border: 2px solid var(--mainColor); 
    

}


.action{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 10px;

    &:hover{
        color: red;
        cursor: pointer;
    }
    .row__type{
        border: none;
    }
}
.color{
background-color: rgba($color: #fbf4e9, $alpha: 1);

}
