.wrapper{
width: 100%;
min-height: calc(100vh - 60px);
padding: 10px;

}



.header{
    width: 100%;
 

}

.form{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--mainColor);
    
    }

.form__info{
    border: 1.5px solid var(--mainColor);
    padding: 5px;
}
.form__img{
    border: 1.5px solid var(--mainColor);
    padding: 5px;
    height: 100%;
}

.form__material{
    border: 1.5px solid black;
    padding: 5px;
    height: 100%;

    & span{
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            color: red;
        }

    }
}

.form__material--cover{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -15px;

    .material__cover--big{
        width: 65%;
    }
    .material__cover--small{
        width: 30%;
    }
}

.form_textarea{
    width: 100%;
    height: 150px;
}

.img__cover{
    width: 100%;
    height: 300px;
    border: 2px dashed black;
    margin-top: 20px;
}

.img__cover--hide{
    position: relative;
    height: 100%;
    padding: 10px;
    display :flex;
    justify-content: center;
    align-items: center;

    & p{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }


}

.img__btn{
    font-size: 18px;
    z-index: 10;
    &:hover{
        color: red;
        cursor: pointer;
      

    }
}

.img__cover--btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.img__group{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    & img{
        width: 100%;
        height: 80%;
        margin: 0 15px;
    }
}

.input__img{
bottom: 100%;
    width: 100%;
    height: 100%;
    position: relative;

 
  

    cursor: pointer;
    color: transparent;
}
::-webkit-file-upload-button {
    display: none;

 }

 .btn__cover{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
 }


    .hidden__notice{

        width: 400px;
        height: 200px;
        background-color: black;
        border-radius: 10px;
        left: 30%;
        bottom: 30vh;
        padding: 20px 50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        
    }


.hidden__notice--text{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: var(--mainColor);
}

 